NetworkingTest-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/Makefile
NetworkingTest-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/app_process
NetworkingTest-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/flickcharm.o
NetworkingTest-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/libNetworkingTest.so
NetworkingTest-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/libc.so
NetworkingTest-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/main.o
NetworkingTest-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/mainwindow.o
NetworkingTest-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/moc_flickcharm.cpp
NetworkingTest-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/moc_flickcharm.o
NetworkingTest-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/moc_mainwindow.cpp
NetworkingTest-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/moc_mainwindow.o
NetworkingTest-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/qtmain_android.o
NetworkingTest-build--Necessitas_Qt_4_8_0_for_Android_armv5_Release/ui_mainwindow.h
NetworkingTest-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/Makefile
NetworkingTest-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/NetworkingTest.app/Contents/Info.plist
NetworkingTest-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/NetworkingTest.app/Contents/MacOS/NetworkingTest
NetworkingTest-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/NetworkingTest.app/Contents/PkgInfo
NetworkingTest-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/NetworkingTest.app/Contents/Resources/empty.lproj
NetworkingTest-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/NetworkingTest.app/Contents/Resources/networkingtest.icns
NetworkingTest-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/main.o
NetworkingTest-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/mainwindow.o
NetworkingTest-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/moc_mainwindow.cpp
NetworkingTest-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/moc_mainwindow.o
NetworkingTest-build-desktop-Desktop_Qt_4_8_0_for_GCC__Qt_SDK__Debug/ui_mainwindow.h
NetworkingTest-build-desktop-Qt_4_8_3__Desktop__Debug/Makefile
NetworkingTest-build-desktop-Qt_4_8_3__Desktop__Debug/NetworkingTest.app/Contents/Info.plist
NetworkingTest-build-desktop-Qt_4_8_3__Desktop__Debug/NetworkingTest.app/Contents/MacOS/NetworkingTest
NetworkingTest-build-desktop-Qt_4_8_3__Desktop__Debug/NetworkingTest.app/Contents/PkgInfo
NetworkingTest-build-desktop-Qt_4_8_3__Desktop__Debug/NetworkingTest.app/Contents/Resources/empty.lproj
NetworkingTest-build-desktop-Qt_4_8_3__Desktop__Debug/NetworkingTest.app/Contents/Resources/networkingtest.icns
NetworkingTest-build-desktop-Qt_4_8_3__Desktop__Debug/flickcharm.o
NetworkingTest-build-desktop-Qt_4_8_3__Desktop__Debug/main.o
NetworkingTest-build-desktop-Qt_4_8_3__Desktop__Debug/mainwindow.o
NetworkingTest-build-desktop-Qt_4_8_3__Desktop__Debug/moc_flickcharm.cpp
NetworkingTest-build-desktop-Qt_4_8_3__Desktop__Debug/moc_flickcharm.o
NetworkingTest-build-desktop-Qt_4_8_3__Desktop__Debug/moc_mainwindow.cpp
NetworkingTest-build-desktop-Qt_4_8_3__Desktop__Debug/moc_mainwindow.o
NetworkingTest-build-desktop-Qt_4_8_3__Desktop__Debug/ui_mainwindow.h
NetworkingTest/android/bin/NetworkingTest-debug-unaligned.apk
NetworkingTest/android/bin/NetworkingTest-debug-unaligned.apk.d
NetworkingTest/android/bin/NetworkingTest-debug.apk
NetworkingTest/android/bin/NetworkingTest.ap_
NetworkingTest/android/bin/NetworkingTest.ap_.d
NetworkingTest/android/bin/build.prop
NetworkingTest/android/bin/classes.dex
NetworkingTest/android/bin/classes.dex.d
NetworkingTest/android/bin/classes/org/kde/necessitas/ministro/IMinistro$Stub$Proxy.class
NetworkingTest/android/bin/classes/org/kde/necessitas/ministro/IMinistro$Stub.class
NetworkingTest/android/bin/classes/org/kde/necessitas/ministro/IMinistro.class
NetworkingTest/android/bin/classes/org/kde/necessitas/ministro/IMinistroCallback$Stub$Proxy.class
NetworkingTest/android/bin/classes/org/kde/necessitas/ministro/IMinistroCallback$Stub.class
NetworkingTest/android/bin/classes/org/kde/necessitas/ministro/IMinistroCallback.class
NetworkingTest/android/bin/classes/org/kde/necessitas/origo/QtActivity$1.class
NetworkingTest/android/bin/classes/org/kde/necessitas/origo/QtActivity$2.class
NetworkingTest/android/bin/classes/org/kde/necessitas/origo/QtActivity$3$1$1.class
NetworkingTest/android/bin/classes/org/kde/necessitas/origo/QtActivity$3$1.class
NetworkingTest/android/bin/classes/org/kde/necessitas/origo/QtActivity$3.class
NetworkingTest/android/bin/classes/org/kde/necessitas/origo/QtActivity$4.class
NetworkingTest/android/bin/classes/org/kde/necessitas/origo/QtActivity$5.class
NetworkingTest/android/bin/classes/org/kde/necessitas/origo/QtActivity$6.class
NetworkingTest/android/bin/classes/org/kde/necessitas/origo/QtActivity.class
NetworkingTest/android/bin/classes/org/kde/necessitas/origo/QtApplication$InvokeResult.class
NetworkingTest/android/bin/classes/org/kde/necessitas/origo/QtApplication.class
NetworkingTest/android/bin/classes/org/rovsuite/NetworkingTest/R$array.class
NetworkingTest/android/bin/classes/org/rovsuite/NetworkingTest/R$attr.class
NetworkingTest/android/bin/classes/org/rovsuite/NetworkingTest/R$drawable.class
NetworkingTest/android/bin/classes/org/rovsuite/NetworkingTest/R$layout.class
NetworkingTest/android/bin/classes/org/rovsuite/NetworkingTest/R$string.class
NetworkingTest/android/bin/classes/org/rovsuite/NetworkingTest/R.class
NetworkingTest/android/bin/res/drawable-hdpi/icon.png
NetworkingTest/android/bin/res/drawable-ldpi/icon.png
NetworkingTest/android/bin/res/drawable-mdpi/icon.png
NetworkingTest/android/bin/res/drawable/icon.png
NetworkingTest/android/bin/res/drawable/logo.png
NetworkingTest/android/gen/org/kde/necessitas/ministro/IMinistro.java
NetworkingTest/android/gen/org/kde/necessitas/ministro/IMinistro.java.d
NetworkingTest/android/gen/org/kde/necessitas/ministro/IMinistroCallback.java
NetworkingTest/android/gen/org/kde/necessitas/ministro/IMinistroCallback.java.d
NetworkingTest/android/gen/org/rovsuite/NetworkingTest/R.java
NetworkingTest/android/libs/armeabi/gdbserver
NetworkingTest/android/libs/armeabi/libNetworkingTest.so
NetworkingTest/android/local.properties
NetworkingTest/android/proguard.cfg
NetworkingTest/android/project.properties
NetworkingTest/android/res/layout/splash.xml
NetworkingTest/android/res/values-de/strings.xml
NetworkingTest/android/res/values-el/strings.xml
NetworkingTest/android/res/values-es/strings.xml
NetworkingTest/android/res/values-et/strings.xml
NetworkingTest/android/res/values-fa/strings.xml
NetworkingTest/android/res/values-fr/strings.xml
NetworkingTest/android/res/values-id/strings.xml
NetworkingTest/android/res/values-it/strings.xml
NetworkingTest/android/res/values-ja/strings.xml
NetworkingTest/android/res/values-ms/strings.xml
NetworkingTest/android/res/values-nb/strings.xml
NetworkingTest/android/res/values-nl/strings.xml
NetworkingTest/android/res/values-pl/strings.xml
NetworkingTest/android/res/values-pt-rBR/strings.xml
NetworkingTest/android/res/values-ro/strings.xml
NetworkingTest/android/res/values-rs/strings.xml
NetworkingTest/android/res/values-ru/strings.xml
NetworkingTest/android/res/values-zh-rCN/strings.xml
NetworkingTest/android/res/values-zh-rTW/strings.xml
NetworkingTest/android/res/values/strings.xml
NetworkingTest/android/src/org/kde/necessitas/ministro/IMinistro.aidl
NetworkingTest/android/src/org/kde/necessitas/ministro/IMinistroCallback.aidl
NetworkingTest/android/src/org/kde/necessitas/origo/QtActivity.java
NetworkingTest/android/src/org/kde/necessitas/origo/QtApplication.java
NetworkingTest/android/version.xml
NetworkingTest/rovsuite-release-key.keystore
build/release/Makefile
build/release/NetworkingTest.app.zip
build/release/NetworkingTest.app/Contents/Frameworks/QtCore.framework/Versions/4/QtCore
build/release/NetworkingTest.app/Contents/Frameworks/QtDeclarative.framework/Versions/4/QtDeclarative
build/release/NetworkingTest.app/Contents/Frameworks/QtGui.framework/Resources/qt_menu.nib/classes.nib
build/release/NetworkingTest.app/Contents/Frameworks/QtGui.framework/Resources/qt_menu.nib/info.nib
build/release/NetworkingTest.app/Contents/Frameworks/QtGui.framework/Resources/qt_menu.nib/keyedobjects.nib
build/release/NetworkingTest.app/Contents/Frameworks/QtGui.framework/Versions/4/QtGui
build/release/NetworkingTest.app/Contents/Frameworks/QtNetwork.framework/Versions/4/QtNetwork
build/release/NetworkingTest.app/Contents/Frameworks/QtScript.framework/Versions/4/QtScript
build/release/NetworkingTest.app/Contents/Frameworks/QtSql.framework/Versions/4/QtSql
build/release/NetworkingTest.app/Contents/Frameworks/QtSvg.framework/Versions/4/QtSvg
build/release/NetworkingTest.app/Contents/Frameworks/QtXmlPatterns.framework/Versions/4/QtXmlPatterns
build/release/NetworkingTest.app/Contents/Info.plist
build/release/NetworkingTest.app/Contents/MacOS/NetworkingTest
build/release/NetworkingTest.app/Contents/PkgInfo
build/release/NetworkingTest.app/Contents/PlugIns/accessible/libqtaccessiblewidgets.dylib
build/release/NetworkingTest.app/Contents/PlugIns/bearer/libqgenericbearer.dylib
build/release/NetworkingTest.app/Contents/PlugIns/codecs/libqcncodecs.dylib
build/release/NetworkingTest.app/Contents/PlugIns/codecs/libqjpcodecs.dylib
build/release/NetworkingTest.app/Contents/PlugIns/codecs/libqkrcodecs.dylib
build/release/NetworkingTest.app/Contents/PlugIns/codecs/libqtwcodecs.dylib
build/release/NetworkingTest.app/Contents/PlugIns/graphicssystems/libqtracegraphicssystem.dylib
build/release/NetworkingTest.app/Contents/PlugIns/imageformats/libqgif.dylib
build/release/NetworkingTest.app/Contents/PlugIns/imageformats/libqico.dylib
build/release/NetworkingTest.app/Contents/PlugIns/imageformats/libqjpeg.dylib
build/release/NetworkingTest.app/Contents/PlugIns/imageformats/libqmng.dylib
build/release/NetworkingTest.app/Contents/PlugIns/imageformats/libqtiff.dylib
build/release/NetworkingTest.app/Contents/PlugIns/qmltooling/libqmldbg_inspector.dylib
build/release/NetworkingTest.app/Contents/PlugIns/qmltooling/libqmldbg_tcp.dylib
build/release/NetworkingTest.app/Contents/Resources/empty.lproj
build/release/NetworkingTest.app/Contents/Resources/networkingtest.icns
build/release/NetworkingTest.app/Contents/Resources/qt.conf
NetworkingTest/android/build.xml
NetworkingTest/android/gen/R.java.d
